/venv/
Config/api_keys.ini
.env
.idea/
__pycache__/
Logs/log.txt
*.pyc
/hiAGI-Dev.log

AgentForge.log

src/agentforge.egg-info/
src/agentforge/persona/chatbot.json
src/agentforge/salience.py

build/
dist/

Examples/API/Logs/
Examples/CustomAgents/Logs/
Examples/DB/
SalienceBot/Logs/
SalienceBot/db_path/
/SalienceBot/DB/
/SalienceBot/Tests/
/Examples/KG/DB/

/Examples/Dyn/DB/
/Examples/Dyn/Logs/
/Examples/Dyn/Tests/

Examples/CustomAgents/DB/
/SalienceBot/path/

Examples/Chatbot/DB/
/SalienceBot/Files/
/SalienceBot/Workspace/
/Examples/KG/DB/
/Sandbox/DB/

Sandbox/Logs/

docs/.obsidian/

docs/.obsidian/

Sandbox/Logs/

Sandbox/modules/Logs/
