recursive-include src/agentforge/loops *
include src/agentforge/utils/installer/actions.json
include src/agentforge/utils/installer/config.json
include src/agentforge/utils/installer/default.json
include src/agentforge/utils/installer/tools.json
